@model List<App.Dtos.CategoryDtos.GroupByCategoryNameBlogCountDto>

<div class="sidebar-box ftco-animate">
    <div class="categories">
        <h3>Blog Kategorileri</h3>
        @foreach (var item in Model)
        {
            <li><a href="#">@item.CategoryName <span>(@item.BlogCount)</span></a></li>
        }
    </div>
</div>